#formal {
    font-family: monospace;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    white-space: normal;
    font-size: 1rem;
    box-sizing: border-box;
    --48px: 48px;
    --24px: 24px;
    --12px: 12px;
}

.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, p {
    margin-top: 0;
    white-space: normal;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 12px;
}

h3 {
    font-size: 1.4rem;
    margin-bottom: 6px;
}

p { font-size: 1.2rem }

b { font-weight: 800 }

header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lime;
    background: #1e1f22;
    padding: var(--24px) var(--48px);
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
}

.max {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    align-items: center;
}

.max-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
}

a {
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}

a.anchor {
    color: white;
    transition: .5s;
}

.button {
    cursor: pointer;
    color: #1e1f22;
    background: white;
    padding: 9px;
    border-radius: 6px;
    border: 1px solid white;
    font-weight: 800;
    display: inline-block;
}

a.active { color: cyan }

a.active { transition: .5s }

.menu-right {
    display: flex;
    align-items: center;
    gap: var(--24px)
}
main {
    width: 100%;
    padding: var(--24px) var(--48px);
    box-sizing: border-box;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links {
    display: flex;
    align-items: center;
    gap: var(--24px);
    margin-top: var(--24px);
}
.presentation {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - var(--24px));
    box-sizing: border-box;
    gap: var(--48px);
    justify-content: space-between;
}
.pres-wrapper {
    display: flex;
    gap: var(--48px);
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.pres-part {
    width: 50%;
}
.lang {
    display: flex;
    border-radius: 6px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 9px;
    gap: 18px;
    cursor: pointer;
}
#selector {
    position: absolute;
    height: 100%;
    width: 50%;
    border-radius: 5px;
    background: white;
    transition: 0.3s;
}
.lang-opt {
    z-index: 2;
}
.selected {
    color: #1e1f22;
}
.fr {
    left: 0;
}
.en {
    left: 50%;
}
.gray {
    color: gray;
    font-weight: bold;
}
.sfm {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    font-size: 1.2rem;
    bottom: var(--48px);
    position: fixed;
    width: 100%;
    transition: .2s;
    transform: scale(1);
}
.sfm p {
    animation: sdm 1.5s ease-in-out infinite;
}
.sfm.hidden {
    transform: scale(0);
    transition: .2s;
}
.image {
    display: flex;
    justify-content: center;
    border-radius: 0 200px;
    width: 100%;
    height: 100%;
    background-image: url("./hello.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    position: absolute;
}
.image-wrapper {
    display: flex;
    justify-content: center;
    border-radius: 0 200px;
    height: 50%;
    background-image: linear-gradient(90deg, rgba(0, 255, 255, 0.2), rgba(0, 255, 0, .2));
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
@keyframes sdm {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}
.burger {
    font-size: 1.5rem;
    padding: var(--24px);
    display: none;
}
.title-close {
    display: none;
    width: 100%;
    justify-content: space-between;
    font-size: 1.6rem;
    align-items: center;
}
.title-close p {
    font-size: 1.6rem;
    font-weight: 800;
}
.pointer {
    cursor: pointer;
}
.part {
    box-sizing: border-box;
    padding: var(--48px) 0;
}
.project-grid {
    margin-top: var(--24px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: var(--48px);
}
.project {
    width: 100%;
    border: 1px solid lime;
    border-radius: 12px;
    height: 300px;
    box-sizing: border-box;
}

footer {
    width: 100%;
    box-sizing: border-box;
    padding: var(--24px) var(--48px);
    background: #1c1c20;
    display: flex;
    justify-content: center;
    gap: 3px;
    border-top: 1px solid lime;
    margin-top: var(--48px);
}
footer div {
    display: flex;
    width: 100%;
    max-width: 1500px;
    flex-direction: column;
    gap: 3px;
}
footer div a {
    width: fit-content;
}
footer *, footer .external {
    font-size: 12px;
}
.close {
    cursor: pointer;
}
.contact {
    margin-top: var(--24px);
    display: flex;
    flex-direction: column;
    gap: var(--48px);
}

.method {
    border-bottom: 1px solid lime;
    background: #1c1c20;
    padding: var(--48px);
    border-radius: 12px 12px 0 0;
}

.method p {
    display: flex;
    align-items: center;
}
.method a {
    display: inline-block;
}
.space-after-icon {
    gap: 12px;
}

@media (max-width: 1220px) {
    .project-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 800px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 1074px) {
    #formal {
        --48px: 24px;
    }
    .title-close {
        display: flex;
    }
    .image-wrapper {
        display: none;
    }
    .menu-right {
        position: fixed;
        flex-direction: column;
        right: var(--24px);
        box-sizing: border-box;
        align-items: flex-start;
        top: var(--24px);
        padding: var(--24px);
        background: #1e1f22;
        border-radius: 12px;
        transform-origin: top right;
        transform: scale(0);
        transition: .2s;
        border: 1px solid lime;
    }
    .menu-right.opened {
        display: flex;
        transform: scale(1);
        transition: .2s;
        top: 0;
        right: 0;
    }
    .burger {
        display: block;
        transition: .5s;
    }
    .burger.opened {
        transform: scale(0);
        transition: .5s;
    }
    .pres-wrapper {
        flex-direction: column;
        justify-content: center;
    }
    header {
        padding: 0 0 0 var(--24px);
    }
    .links {
        flex-wrap: wrap;
    }
    .image-wrapper {
        height: 30%;
        border-radius: 80px 0;
    }
    .image {
        border-radius: 80px 0;
    }
    h1, h2 {
        font-size: 1.7rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    p, a {
        font-size: 1rem;
    }
    .pres-part {
        width: 100%;
    }
    footer *, footer .external {
        font-size: 12px;
        text-align: center;
    }
    footer div {
        align-items: center;
    }
}
