:root {
    --header-height: 48px;
    --big-spacing: 48px;
    --medium-spacing: 24px;
    --small-spacing: 12px;
    --micro-spacing: 6px;
    --green: lime;
    --cyan: cyan;
    --red: lightcoral;
    --gray: rgb(128, 128, 128);
}

::-moz-selection {
    color: black;
    background: white;
}

::selection {
    color: black;
    background: white;
}

html {
    color-scheme: dark;
}

body {
    margin: 0;
    padding: 0;
    background: #1e1f22;
    font-family: monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p, pre {
    margin: 0;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: var(--cyan);
    white-space: nowrap;
}

a:hover {
    text-decoration: underline;
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}

.cyan {
    color: var(--cyan);
}

#cli {
    word-break: break-all;
    word-wrap: break-word;
}

/*
@keyframes maximes {
  0% {
    color: #ff0000;
  }
  25% {
    color: #00ff00;
  }
  50% {
    color: #0000ff;
  }
  75% {
    color: #ffff00;
  }
  100% {
    color: #ff00ff;
  }
}*/
