:root {
    --header-height: 48px;
    --big-spacing: 48px;
    --medium-spacing: 24px;
    --small-spacing: 12px;
    --micro-spacing: 6px;
    --border-radius: 12px;
    --green: lime;
    --cyan: cyan;
    --red: lightcoral;
    --gray: rgb(128, 128, 128);
    --background-color: #1e1f22;
    --border-width: 2px;
    --border: var(--border-width) solid white;
}

::-moz-selection {
    color: black;
    background: white;
}

::selection {
    color: black;
    background: white;
}

html {
    color-scheme: dark;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    font-family: "JetBrains Mono", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p, pre {
    margin: 0;
    word-wrap: break-word;
}

button {
    padding: var(--small-spacing);
    color: var(--background-color);
    outline: none;
    border: none;
    font-size: 1rem;
    font-family: "JetBrains Mono", monospace;
    background: white;
    border-radius: var(--border-radius);
    cursor: pointer;
    border: var(--border);
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--cyan);
    white-space: nowrap;
}

a:hover {
    text-decoration: underline;
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}

.cyan {
    color: var(--cyan);
}

#cli, #cli pre {
    word-break: break-all;
    word-wrap: break-word;
}

#cli pre {
    white-space: break-spaces;
}

#cli a {
    white-space: break-spaces;
}

/*
@keyframes maximes {
  0% {
    color: #ff0000;
  }
  25% {
    color: #00ff00;
  }
  50% {
    color: #0000ff;
  }
  75% {
    color: #ffff00;
  }
  100% {
    color: #ff00ff;
  }
}*/
